.parent{
    display: flex;

  justify-content: center;
  gap: 20px;
}
.parent div{
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 8px;

}
div>p
{
    margin-top: -10px;
    color: gray;

    
}
p~img{
    margin-top: -10px;
}